<div class="media-object song-search-result-item">
	<div class="media-object-section">
		<div class="thumbnail">
			<img src= "{{thumbnail}}">
		</div>
	</div>
	<div class="media-object-section">
		<h4>{{label}}</h4>
		<p>{{description}}</p>
		<p><strong>{{duration}}</strong></p>
		<input type="hidden" id="videoId" value="{{value}}"></input>
	</div>
</div>