<div class="media-object song-detail-item">
	<div class="media-object-section">
		<div class="thumbnail">
			<img src= "{{thumbnail}}">
		</div>
	</div>
	<div class="media-object-section">
		<h4>{{label}}</h4>
		<p>{{description}}</p>
		<p><strong>{{duration}}</strong></p>
		<p><strong>Added by:</strong> {{ addedBy.id }} </p>
		<input type="hidden" id="videoId" value="{{value}}"></input>
	</div>
</div>