<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device.width, initial-scale=1.0" />

	<title>This is the site title.</title>

	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div class="top-menu">
		<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
	  		<button class="menu-icon" type="button" data-toggle></button>
	  		<div class="title-bar-title">Jukebox</div>
		</div>
		<div class="top-bar" id="main-menu">
			
			<div class="top-bar-left">
		    	<ul class="dropdown menu horizontal medium-horizontal" data-responsive-menu="drilldown medium-dropdown" data-dropdown-menu>
		    	<li class="menu-text">Jukebox</li>
				<li><a href="/">home</a></li>
				{{#if user}}
			    	<li><a href="/jukebox">find jukebox</a></li>
			    	<li><a href="/jukebox/create">create jukebox</a></li>
			    {{else}}
		    	{{/if}}
				</ul>
			</div>

			<div class="top-bar-right">
				<ul class="dropdown menu horizontal medium-horizontal" data-responsive-menu="drilldown medium-dropdown" data-dropdown-menu>
					{{#if user}}
			    		<li class="has-submenu">
				    		<a href="#">{{user.firstName}} {{user.lastName}}</a>
				    		<ul class="submenu menu vertical" data-submenu>
				    			<li><a href="/users/account">account</a></li>
				    			<li><a href="/users/logout">logout</a></li>
				    		</ul>
			    		</li>
			    	{{else}}
			    		<li><a href="/users/register">register</a></li>
			    		<li><a href="/users/login">login</a></li>
		    		{{/if}}
				</ul>
		  	</div>
		</div>
	</div>
	<div class="container">
    	{{#if success_msg}}
    		<div class="row">
	        	<div class="large-12 medium-12 small-12 large-centered columns">
	        		<div class="success callout">
	        			<p class="success">{{success_msg}}</p>
	        		</div>
	        	</div>
        	</div>
    	{{/if}}

    	{{#if error_msg}}
    		<div class="row">
	        	<div class="large-12 medium-12 small-12 large-centered columns">
	        		<div class="alert callout">
	        			<p class="alert">{{error_msg}}</p>
	        		</div>
	        	</div>
        	</div>
    	{{/if}}

    	{{#if error}}
    		<div class="row">
	        	<div class="large-12 medium-12 small-12 large-centered columns">
	        		<div class="alert callout">
	        			<p class="alert">{{error}}</p>
	        		</div>
	        	</div>
        	</div>
    	{{/if}}
    	
    	{{#if message}}
    		<div class="row">
	        	<div class="large-12 medium-12 small-12 large-centered columns">
	        		<div class="alert callout">
	        			<p class="alert">{{message}}</p>
	        		</div>
	        	</div>
        	</div>
    	{{/if}}

    	{{{body}}}
	</div>
    
	<script src="/js/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/js/what-input.js"></script>
    <script src="/js/foundation.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/socket.io.js"></script>

    <script type="text/javascript">
    	$(document).foundation();
    </script>

    {{{renderJS js}}}
</body>
</html>